@{
    ViewData["Title"] = "الرئيسية";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg border-0 rounded-3">
                <div class="card-body text-center p-5">
                    <h1 class="fw-bold text-primary mb-4">
                        برنامج أمر التشغيل
                    </h1>
                    <p class="lead mb-4">
                        <b>أهلاً بك في برنامج أمر التشغيل - النسخة المطورة 2025 🚀</b>
                    </p>

                    <p class="text-muted mb-5">
                        جارٍ العمل حالياً على إضافة المزيد من الميزات للتطبيق.<br />
                        يمكنك تسجيل الدخول لمتابعة آخر التطورات واستعراض صلاحياتك.
                    </p>

                   
                </div>
            </div>
        </div>
    </div>
</div>
